<ngb-carousel>
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img src="/assets/img/life.jpeg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <p>“You only live once, but if you do it right, once is enough.”</p>
        <p>― Mae West</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-wrapper">
        <img src="/assets/img/team.jpeg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <p>“Life is what happens to us while we are making other plans.”</p>
        <p>Allen Saunders</p>
      </div>
    </ng-template>
  </ngb-carousel>
  